<div id="<%= dom_id mining_type %>">
  <p>
    <strong><%=translated_coin_attribute(:description)%>:</strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%=translated_coin_attribute(:acronym)%>:</strong>
    <%= mining_type.acronym %>
  </p>

</div>
