<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Crypto Wallet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">  
        <li class="nav-item">
          <a aria-current="page"><%= link_to translated_navigation_links(:home), root_path, class: "nav-link active" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to translated_navigation_links(:coin), coins_path, class: "nav-link" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to translated_navigation_links(:mining_type), mining_types_path, class: "nav-link" %></a>
        </li>
      </ul>      
     
      <ul class="navbar-nav ms-auto">  
        <li class="nav-item">
          <%= link_to root_path(locale: 'pt-BR'), class: "nav-link" do %>
            <img src="https://flagcdn.com/16x12/br.png" alt="Português" title="Português">            
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to root_path(locale: 'en'), class: "nav-link" do %>
            <img src="https://flagcdn.com/16x12/us.png" alt="English" title="English">            
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>